* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden;   */
  font-family: 'Roboto';
  scroll-behavior: smooth;
}

.container {
  display: flex;
  width: 100vw;
  z-index: 2;
}


/* left ------------------- */

.left {
  display: flex;
  justify-content: center;
  width: 45%;
  height: 50vh;
  margin: 5rem 3rem;
  padding: 0 1rem;
  align-self: flex-start;
  position: sticky;
  top: 5rem;
  z-index: 2;
}

.left h3 {
  font-size: 3rem;
  font-family: 'Roboto';
  font-weight: bolder;
  margin: 0.8rem 0;
}

.left .data {
  width: 25rem;
}

.left ul {
  margin: 1rem 0;
}

.left ul li {
  list-style: none;
}

.left ul li a {
  color: black;
  font-weight: bold;
}

.left .nav_link ul {
  display: flex;
  flex-direction: column;
}

.left .nav_link ul li {
  margin: 0.2rem;
}

.social_media a {
  text-decoration: none;
}

#intro {
  margin: 1rem 0;
  font-weight: bold;
}

.left_heading {
  margin-top: 1rem !important;
}

/* right ------------------------ */

.right {
  width: 40%;
  float: right;
  margin: 5rem 3rem;
}

/* about */

.about {
  /* height: 70vh; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* margin: 5rem 0; */
}

.about h1 {
  margin: 0.8rem 0;
}

.title {
  margin: 0.8rem 0;
  margin-top: 10rem;
}

.about p {
  font-size: 1.5rem;
}

/* Experience */

.experience_box {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out !important;
  cursor: pointer;
}

.experience_box h3 {
  margin: 0.5rem 0;
}

.experience_box:hover {
  box-shadow: 0px 0px 10px -2px;
}

.experience_box #duration {
  margin: 0 0.5rem;
}


/* skills  -----------------*/
.expertise_box {
  width: 100%;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 0;
  transition: all 1s;
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
}

.expertise_box h3 {
  margin: 0.5rem 0;
}

.expertise_box:hover {
  box-shadow: 0px 0px 10px -3px;
}

.tag_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.tag {
  border: 1px solid black;
  border-radius: 10px;
  margin: 0.2rem 0.1rem;
  padding: 0.2rem;
  font-weight: bold;

}

/* projects ---------------------- */

.project_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
}

.project_box h3 {
  margin: 0.5rem 0;
}

.project_box:hover {
  box-shadow: 0px 0px 10px -2px;
}

.project img {
  width: 150px;
  height: 100px;
}

.project_box .project_details {
  padding: 10px;
}

.project_box button{
  padding: 0.2rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.5rem 0;
  background-color: transparent;
  transition: all 0.3s ease-in !important;
}

.project_box button:hover a{
  /* background-color: black; */
  color: white;
}

.project_box button:hover {
  background-color: black;
}

.project_box button a {
  text-decoration: none;
  color: black;
}


@media screen and (max-width: 800px) {
  .container {
    flex-wrap: wrap;
  }

  .left {
    width: 100vw;
    margin: 0;
    position: static;
  }

  .right {
    width: 100vw;
    margin: 20rem 0rem;
    padding: 0 1rem;
  }

  .project_box {
    flex-direction: column;
  }
}