.skills_container {
    width: 100vw;
    height: 35rem;
    padding: 0 8rem;
}

.skills {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.skills_card {
    width: 25rem;
    text-align: center;
    padding: 1rem;
}

.skills_card_icon {
    font-size: 4rem;
}

@media only screen and (max-width:480px) {
    /* smartphones, Android phones, landscape iPhone */ 
    .skills_container {
        height: 50rem;
        padding: 0.5rem;
        margin-bottom: 7rem;
    }

    .skills_card {
        width: 100%;
        padding: 1.8rem 0.5rem;
    }

}