:root {
  --font-body: 'Inter', sans-serif;
  --font-heading: 'Poppins', sans-serif;

  --color-text: #cbd5e1; /* Light Slate */
  --color-text-heading: #ffffff; /* White */
  --color-background: #0f172a; /* Dark Slate */
  --color-primary: #0284c7; /* Blue */
  --color-secondary: #1e293b; /* Mid Slate */
  --color-border: #334155; /* Darker Slate */
}

/* No dark theme needed for now, as the base theme is dark */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  line-height: 1.7;
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--color-text-heading);
  margin-bottom: 1rem;
  font-weight: 600;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--color-text-heading);
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: left;
}
