:root {
  --font-mono: 'Roboto Mono', monospace;

  --color-text: #e2e8f0; /* Light Gray */
  --color-background: #0d1117; /* Very Dark Blue */
  --color-primary: #33ff00; /* Bright Green */
  --color-secondary: #161b22; /* Darker Blue */
  --color-border: #30363d; /* Gray */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  line-height: 1.7;
  font-family: var(--font-mono);
  background-color: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-mono);
  color: var(--color-text);
  margin-bottom: 1rem;
  font-weight: 600;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  color: var(--color-primary);
}
