.about {
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about_heading {
    font-size: 3rem;
}

.about_info {
    width: 30%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about img {
    border-radius: 30px;
}

.about_icons {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.about_icon {
    color: black;
    font-size: 2rem;
    transition: all 0.3s ease-in;
}


@media only screen and (max-width:500px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    .about {
        flex-direction: column;
        margin: 3rem 0;
    }

    .about img {
        padding: 1rem;
        width: 100%;
    }

    .about_info {
        width: 100%;
    }

    .about_icons {
        width: 90%;
    }
}