.project_container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.project_card {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
}

.project_card_info {
    width: 40%;
}

.project_card img {
    border-radius: 10px;
}

.btn {
    margin: 0.6rem;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    color: white;
    background-color: black;
    font-weight: bold;
}


.btn a {
    text-decoration: none;
    color: white;
}



@media only screen and (max-width:480px)  { 
    /* smartphones, Android phones, landscape iPhone */ 
    .project_container {
        width: 100vw;
    }

    .project_card {
        width: 90%;
        flex-direction: column;
    }
    
    .project_card_info {
        width: 100%;
        padding-top: 1rem;
    }

    .project_card img {
        width: 100%;
        border-radius: 10px;
    }

}