.about_heading {
    font-size: 3rem;
}

.about_container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.about {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.about_para {
    font-size: 1.5rem;
}

.about img {
    border-radius: 20px;
    margin: 1rem;
}


@media only screen and (max-width: 500px) {
    /* smartphones, Android phones, landscape iPhone */ 
    .about {
        width: 100%;
    }

    .about img {
        width: 300px;
        height: 300px;
    }

}